{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<section class="section">

	<div>
		<h1 class="tituloAct">Bienvenid@ a la Academia App!</h1>
	</div>	
	<div>
		<img src="{{asset('assets/images/logo_academia.png')}}">
	</div>
	<div>
		<span class="glyphicon glyphicon-ok"></span>
		<p class="parrafoAct">Tu cuenta ya ha sido activada</p>	
	</div>
	

</section>

{% endblock %}