{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<body class="colorBg">

    <section  id="inscribete"  class="proceso-inscripcion ">

        <div class="container" style="margin-bottom: 150px;">
            <div class="row">
                <div class="proceso" style="margin-top: 120px;">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="card text-center" style="background-color: #FFFFFF; padding: 20px;">
                        <h3 style="color: #181617; font-weight: bold;">PÁGINA NO ENCONTRADA</h3>
                        <div class="text-center" style="background-color: #CB3F1D; height: 1px; margin-top: 30px;"></div>
                        <img src="{{ asset('assets/images/logo_academia.png')}}" style="margin-top: 20px; margin-bottom: 20px" width="130" height="130">
                        <p style="color: #8A0808; font-size: 18px;">Ocurrió un error, la página que buscabas no ha sido encontrada.</p>
                    </div>
                </div>
                </div>
            </div>  
        </div>
    </section>

</body>

{% endblock %}

